#one{
    text-align: center;
}

#two{
    margin-top: 20px;
    text-align: center;
}

body{
    background-image: url('Img/editscore.jpg');
    background-size: cover;
}

#opt{
    text-align: left;
    margin-left: 43%;
}