body {
    font-family: sans-serif;
    background-image: url('./Img/st3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#header{
  margin-left: 550px;
  margin-right: 550px;
  margin-top: 10px;
}

h5{
  color: white;
  float: left;
  margin-left: 550px;
  margin-right: 550px;
}

h4{
  color: white;
  float: left;
}

.navbar{
  background-color: black;
  text-align: center;
}

.card{
  text-align: center;
  margin-top: 150px;
  margin-left: 150px;
  background-color: rgb(161, 233, 240);
  border: 2px solid black;
  /* border-radius: 30px; */
}

.card-body{
  background-color: rgb(203, 232, 248);
  height: 250px;
}

img{
  height: 200px;
}

#sub_code1,#sub_code2{
  width: 120px;
  height: 35px;
  text-align: center;
}

#mynav{
  font-size: 50px;
  color: white;
  font-family: 'Libre Baskerville', serif;
}
  

.base-timer {
  position: relative;
  width: 100px;
  height: 100px;
  float: right;
}

#subcode{
   margin-left: 550px;
   padding: 10px;
   margin-bottom: 10px;
  text-align: center;
}

.base-timer__svg {
  transform: scaleX(-1);
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: rgb(204, 12, 188);
}

.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__path-remaining.green {
  color: rgb(218, 214, 22);
}

.base-timer__path-remaining.orange {
  color: orange;
}

.base-timer__path-remaining.red {
  color: red;
}

.base-timer__label {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}

.nav-link{
  color : white;
}

.ques_div{
  padding: 2rem;
  background-color: rgb(37, 37, 37);
  font-size : 20px;
  margin-left: 550px;
  margin-right: 550px;
  border : 2px solid black;
  display: block;
  border-radius : 15px;
  margin-top: 2rem;
  overflow:auto;
  color: whitesmoke;
  
}

.wrapper{
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 999999;
}

.loader{
  position: fixed;
  height: 100%;
  width: 100%;
  background: url('../Images/Preloader4.gif') center  ;
  background-size: cover;
  z-index: 999999;   
}


/* Styling for test */

.opt_div{
  display: block;
  padding: .5em 1em;
  margin-bottom: .5em;
  background: rgb(7, 105, 235);
  border-radius: 10px;
}

.opt_div:hover{
  background-color:rgb(13, 243, 25);
}

#submit_div{
  margin-left: 550px;
  margin-right: 550px;
}

#submitTest{
  float: right;
}

body{
  background-color: #cce2f7;
  width:100%;
  height: 100vh;
}



/*------------------------------------------------------------------Styling For Modal---------------------------------------------------------------------- */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  /* Stay in place */
  z-index: 2; /* Sit on top */
  padding-top: 4%; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(95, 97, 98, 0.6); /* Black w/ opacity */
  padding-top: 400px;
}

/* Modal Content */
.modal-content {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: relative;
  background-color: #8fd3e9;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 60%;
  box-shadow: 2px 4px 8px 2px rgba(16, 72, 182, 0.986),0 6px 20px 0 rgba(7, 176, 170, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}


/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
#close {
  color: #f3eeee;
  float: right;
  font-size: 28px;
  font-weight: bold;
  background-color: #d0221cfa;
  border-radius: 10%;
}

#close:hover,
#close:focus {
  color: #0d0d0d;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  display: block;
  padding: 5px ;
  background-color: #072e6e;
  text-align: center;
  color: white;
}

.modal-body {
  /* padding: 5px 16px; */
  color: #0b1111f7;
  font-weight: 700;
}


.modal-body input{
  display: inline-table;
  background-color: #f4edec;
  text-align: center;
  padding: 4px;
  margin-right: 2px;
  overflow: auto;
  border-radius: 30px;
}

#cancel{
    float: right;
    margin-right: 20px;
}

#modalSubmit{
  float: right;
  padding: 5px;
  background-color: #1a8b34;
  color:white;
}

.column{
  width: 23%;
}
.column-1{
  width: 16%;
}


.blur{
  opacity:1;
}

.opaque{
  opacity: 1;
}


